.button :global(.vtex-button) {
    border-radius: 100px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    margin-bottom: 2%;
}

.sendButton :global(.vtex-button) {
    background-color: #f71963;
    color: #fff;
    border: 0;
    border-radius: 100px;
    width: 128px;
}

.forgotPasswordLink {
    color: black;

    font-weight: 600;
    text-decoration: underline;
}

.dontHaveAccount {
    color: black;

    font-weight: 600;
}

.backButton :global(.vtex-button) {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.inputContainer :global(.vtex-input-prefix__group) {
    border-color: transparent;
    border-bottom: 1px solid;
}

.container :global(.vtex-button) {
    background-color: transparent;
}

.backButton .arrowBackIcon {
    display: none;
}

.arrowUp {
    background-color: #ffd400;
}

.formTitle {
    font-weight: 600;
}

.label {
    text-transform: none;
}

.optionsListItem :global(.vtex-button__label) {
    font-weight: 600;
}

.accountOptions :global(.vtex-button) {
    background-color: transparent;
    color: black;
}

@media screen and (min-width: 20em) and (max-width: 40em) {
    .profileIcon {
        color: white;
    }

    .optionsList {
        width: 69%;
        margin-left: 15%;
    }

    .formFooter .sendButton {
        width: 70%;
        margin-left: 15%;
    }

    .formLinkContainer {
        justify-content: center;
    }
}

.profileIcon {
    color: #000000;
}

.label {
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
